body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url("https://media.istockphoto.com/id/1316921429/photo/hand-holding-thermometer-on-blue-sky-background.webp?b=1&s=170667a&w=0&k=20&c=x7Ihz5UjjA1NeDTWL3krXf-HnzL8gd4h2sf26Jee_KE=");
    background-size: cover;
    background-position: center;
}

h1 {
    text-align: center;
}

#container {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"] {
    width: calc(100% - 16px); /* Update this line */
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#calculation {
    margin-top: 20px;
}

#explanation {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}